{% extends "base.html" %}

{% block content %}
	<h1>Add New Application</h1>

	<form action="{{ url_for('add_application') }}" method="POST">
		<label for="job_id">Job ID:</label>
		<input type="number" id="job_id" name="job_id" required><br><br>

		<label for="application_date">Application Date:</label>
		<input type="date" id="application_date" name="application_date" required><br><br>

		<label for="status">Application Status:</label>
		<input type="text" id="status" name="status"><br><br>

		<label for="resume_version">Resume Version:</label>
		<input type="text" id="resume_version" name="resume_version" required><br><br>

		<label for="cover_letter_sent">Coverletter Sent:</label>
		<input type="checkbox" id="cover_letter_sent" name="cover_letter_sent" ><br><br>

		<input type="submit" value="Add Application">
	</form>

{% endblock %}
