{% extends "base.html" %}

{% block content %}
	<h1>Delete Company</h1>
	<p>Are you sure that you want to delete this company?</p>

	<table border="1">
		<tr>
			{% for column in company.keys() %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for column in company.keys() %}
				<td>{{ company[column] }}</td>
			{% endfor %}
		</tr>
	</table>
	<br>
	<form method="POST">
		<button type="submit">Yes, delete</button>
		<a href="{{ url_for('companies') }}">Cancel</a>
	</form>

{% endblock %}
