{% extends "base.html" %}

{% block content %}
	<h1>Delete Contact</h1>
	<p>Are you sure that you want to delete this contact?</p>

	<table border="1">
		<tr>
			{% for column in contact.keys() %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for column in contact.keys() %}
				<td>{{ contact[column] }}</td>
			{% endfor %}
		</tr>
	</table>

	<br>

	<form method="POST">
		<button type="submit">Yes, delete</button>
		<a href="{{ url_for('contacts') }}">Cancel</a>
	</form>



{% endblock %}
