{% extends "base.html" %}

{% block content %}
	<h1>{{ 'Edit' if job else 'Add' }} Job</h1>
	<form method="POST">
		
		<label for="compnay_id">Company ID:</label>
		<input type="number" name="company_id"
					   value="{{ job.company_id if job else '' }}" required><br><br>

		<label for="job_title">Job Title:</label>
		<input type="text" name="job_title"
					   value="{{ job.job_title if job else '' }}" required><br><br>

		<label for="job_description">Job Description:</label>
		<input type="text" name="job_description"
					   value="{{ job.job_description if job else '' }}" required><br><br>

		<label for="salary_min">Salary Minimum:</label>
		<input type="number" name="salary_min"
					   value="{{ job.salary_min if job else '' }}" required><br><br>

		<label for="salary_max">Salary Maximum:</label>
		<input type="number" name="salary_max"
					   value="{{ job.salary_max if job else '' }}" required><br><br>

		<label for="job_type">Job Type:</label>
		<input type="text" name="job_type"
					   value="{{ job.job_type if job else '' }}" required><br><br>

		<label for="posting_url">Posting URL:</label>
		<input type="text" name="posting_url"
					   value="{{ job.posting_url if job else '' }}" required><br><br>

		<label for="date_posted">Date Posted:</label>
		<input type="date" name="date_posted"
					   value="{{ job.date_posted if job else '' }}" required><br><br>

		{% if job %}
		<label for="is_active">Listing Active?</label>
		<input type="checkbox" name="is_active"
							   {% if job and job.is_active %}checked{%endif%}><br><br>
		{% endif %}

		<input type="submit" value="{{ 'Update' if job else 'Add'}} Job">
	</form>

	{% endblock %}
