{% extends "base.html" %}

{% block content %}
	<h1>Jobs</h1>

	{% if jobs %}
	<table border="1">
		<tr>
			{% for column in jobs[0].keys() %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		
		{% for job in jobs %}
		<tr>
			{% for column in jobs[0].keys() %}
				<td>{{ job[column] }}</td>
			{% endfor %}
			{#
			<td><a href="{{ url_for('edit_job', id=job.job_id) }}">Edit</a></td>
			<td><a href="{{ url_for('delete_job', id=job.job_id) }}">Delete</a></td>
			-->
			#}
		</tr>
		{% endfor %}
	</table>

{% else %}
<p> No jobs found.</p>
{% endif %}
<br>
<a href="{{url_for('add_job') }}">
	<button>Add New Job</button>
</a>
{% endblock %}


